<div class="page content-map" id="page">     
    <!-- wrap -->
    <header id="header">
        
    </header>
    
    <!-- about content -->
    <div class="container main">
    	
    	<!-- selection -->
    	<div class="row">
    		<div class="col-md-12 jumbotron-small map">
    			<span class="hue green">
    				<div class="pads">
        				<h1>Explore The EUscreen Collection on a Map</h1>
    				</div>
    			</span>
    		</div>
    	</div>

        <!-- selection -->
        <div class="content-text row">
            <div class="col-md-12">
                <h1>Explore The EUscreen Collection on a Map</h1>
                <p>
                    The EUscreen portal provides access to television clips and programmes from broadcasters and broadcast archives from 24 European countries. The EUscreen collection contains nearly 60 000 media items: mostly videos, but it also included photographs, audio files and documents. All items have been hand-picked by experienced archivists and researchers for inclusion in this collection. Click on a country to find out more about the EUscreen collection! 
                </p>
            </div>
        </div>
    	
    	<!-- content -->
    	<div class="content row">
    		
    		<!-- left side -->
    		<div class="info col-md-3 col-sm-4">
    			
    			<!-- data -->
    			<div class="data">
        			<h1 id="selected-country">UNITED KINGDOM</h1>
        			<div>
        				<span class="header">VIDEOS</span>
        				<span class="counter">2610</span>
        			</div>
        			<div>
        				<span class="header">IMAGES</span>
        				<span class="counter">230</span>
        			</div>
        			<div>
        				<span class="header">TEXTS</span>
        				<span class="counter">110</span>
        			</div>
        			<div>
        				<span class="header">AUDIOS</span>
        				<span class="counter">50</span>
        			</div>
        			<div>
        				<span class="header">PROVIDER</span>
        				<span class="provider">BBC</span>
        				<span class="provider">United Broadcast</span>
        			</div>
    			</div>
    			
    			<!-- navigation -->
    			<ul class="search-link">
    				<li><a href="#">SEARCH BBC CONTENT</a></li>
    				<li><a href="#">SEARCH UNITED BROADCAST CONTENT</a></li>
				</ul>
    		</div>
    		
    		<!-- the map -->
    		<div class="maps col-md-9 col-sm-8">
    			<img src="/eddie/apps/euscreenxlelements/img/content/bg-map.gif" class="img-responsive"/>
    		</div>
    	</div>
    </div>
    
    
    <!-- footer -->
    <footer id="footer">
        
    </footer>
</div>
<div class="mobilenav" id="mobilenav">
</div>
