<!-- container -->
<div class="page content-map" id="page">	
	<!-- about content -->
    <div class="container main">
    	<!-- content -->
    	<div class="content hidden-xs">
    		
    		<!-- left side -->
            <div class="info-wrap">
        		<div class="info" data-spy="affix" data-offset-top="178" data-offset-bottom="0">
        			
        			<!-- data -->
        			<div class="data">
            			<h1 id="selected-country">Please select region on the map</h1>
            			<div id="results-section" class="results-section">
                            <div class="country-counter">
		            			<div class="item">
		            				<span class="header">VIDEOS</span>
		            				<span class="counter" id="selected-videos">0</span>
		            			</div>
		            			<div class="item">
		            				<span class="header">IMAGES</span>
		            				<span class="counter" id="selected-images">0</span>
		            			</div>
		            			<div class="item">
		            				<span class="header hidden-sm">DOCUMENTS</span>
                                    <span class="header visible-sm">DOCS</span>
		            				<span class="counter" id="selected-texts">0</span>
		            			</div>
		            			<div class="item">
		            				<span class="header">AUDIO</span>
		            				<span class="counter" id="selected-audios">0</span>
		            			</div>
		            			<div class="item">
		            				<span class="header">SERIES</span>
		            				<span class="counter" id="selected-series">0</span>
		            			</div>
                            </div>
	            			<div class="providers">
	            				<span class="header">PROVIDERS</span>
	            				<span class="provider" id="selected-providers">-</span>
	            			</div>
            			</div>
        			</div>
        			
        			<!-- navigation -->
        			<ul class="search-link" id="selected-searchlink"></ul>
        		</div>
            </div>
    		
    		<!-- the map -->
    		<div class="maps">
        		
                <!-- map -->
                <div class="vmap" id="vmap"></div>
    		</div>
    	</div>
    </div>
</div>

<!-- mobile navigation, will slide -->
<div id="mobilenav" class="mobilenav"></div>